//IPlugControls Microsoft resource file
#include "resource.h"

BG_ID					PNG		BG_FN
ISWITCHCONTROL_2_ID		PNG		ISWITCHCONTROL_2_FN
ISWITCHCONTROL_3_ID		PNG		ISWITCHCONTROL_3_FN
IRADIOBUTTONSCONTROL_ID	PNG		IRADIOBUTTONSCONTROL_FN
ICONTACTCONTROL_ID		PNG		ICONTACTCONTROL_FN
IFADERCONTROL_HORIZ_ID	PNG		IFADERCONTROL_HORIZ_FN
IFADERCONTROL_VERT_ID	PNG		IFADERCONTROL_VERT_FN
IKNOBROTATERCONTROL_ID	PNG		IKNOBROTATERCONTROL_FN
IKNOBMULTICONTROL_ID	PNG		IKNOBMULTICONTROL_FN
IKRMC_BASE_ID			PNG		IKRMC_BASE_FN
IKRMC_MASK_ID			PNG		IKRMC_MASK_FN
IKRMC_TOP_ID			PNG		IKRMC_TOP_FN
IBOC_ID					PNG		IBOC_FN


